{{#each Tablas}}
<h2>Fecha: {{Fecha}}</h2>
<h2>Unidad: {{NombreUnidad}}</h2>
<h2>Contenido: {{DescripCont}}</h2>
{{#each DatosCentrales}}
{{Actividad}} | {{CompApr}} | {{Tiempo}} | {{Evaluacion}}*
{{/each}}
{{/each}}